/* src/components/admin/other/Users/AddUser.css */
.add-user-modal .modal-header {
  background-color: #f8f9fa; /* Light grey header background */
}

.add-user-modal .form-control {
  border: 1px solid #ced4da; /* Custom input border */
}

.add-user-modal .btn-primary {
  background-color: var(--primary-color); /* Primary button color */
  border-color: var(--primary-color); /* Button border color */
}

.add-user-modal .btn-primary:hover {
  background-color: var(--secondary-color); /* Button hover color */
  border-color: var(--secondary-color); /* Button border hover color */
}
