/* AdminLayout.css */

.admin-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar-wrapper {
  width: 250px; /* Default width */
  transition: width 0.3s ease;
}

.sidebar-wrapper.collapsed {
  width: 80px; /* Collapsed width */
  transition: width 0.3s ease;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  transition: width 5s ease;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

.main-content.collapsed {
  margin-left: var(
    --sidebar-width-collapsed
  ); /* Margin when sidebar is collapsed */
  transition: margin-left 0.3s ease;
}

.header {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  height: 60px;
  background-color: var(--white);
  color: var(--title-color);
  z-index: 1001;
  width: calc(100% - 200px);
  transition: width 0.5s ease;
  display: flex;
  align-items: center;
  box-shadow: 6px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.main-content.collapsed .header {
  left: var(--sidebar-width-collapsed);
  width: calc(
    100% - var(--sidebar-width-collapsed)
  ); /* Adjust based on collapsed sidebar */
  transition: width 1s ease;
}

.content-wrapper {
  flex-grow: 1;
  margin-top: 60px; /* Offset by header height */
  padding: 15px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Push to bottom */
}
