/* src/pages/admin/Employees/AddNewEmployee/AddNewEmployee.css */

.required {
  color: red;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.form-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
}

.add-new-employee-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
  border-top: solid 2px var(--primary-color);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.gender-group {
  grid-column: span 2;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.radio-group label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.radio-group input[type="radio"] {
  margin-right: 8px;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.custom-save-button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.custom-save-button:hover {
  background-color: #388e3c;
}
