.client-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #025b6c;
  color: white;
  padding: 10px;
}

.logo {
  width: 100px;
}

.client-header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.client-header nav ul li {
  margin-left: 20px;
}

.client-header nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.client-header nav ul li a.active {
  border-bottom: 2px solid #d56c50;
}
