.temp-btn {
  background-color: rgb(177, 162, 162);
  height: 40px;
  width: 40px;
  display: flex;
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: solid 3px #0f75bc;
}

.temp-btn .link {
  color: #0f75bc;
}
.temp-btn:hover {
  background-color: #0f75bc;
}

.temp-btn .link:hover {
  color: #fff;
}

.temp-button.dashboard {
  background-color: rgb(177, 162, 162);
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: solid 3px #0f75bc;
}

.temp-button.dashboard .link {
  color: #0f75bc;
}
.temp-btn.dashboard:hover {
  background-color: #0f75bc;
}

.temp-button.dashboard .link:hover {
  color: #fff;
}

.test_link {
  position: fixed;
  top: 170px;
  right: 210px;
  z-index: 1000;
}

.round-nav {
  transform: translateX(-50%);
  border: solid 2px;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.round-nav:hover {
  transform: translateX(-50%);
  color: var(--link-hover-color);
  background-color: var(--link-hover-bg-color);
  border-color: var(--link-hover-border-color);
  transition: background-color 0.5s;
}

.round-nav.client {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* Global Table Styles */
.main-search-input {
  padding: 8px;
  /* width: 300px; */
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 16px;
}

.table-search {
  width: 50%;
}
.table-export {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.export-button {
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
}

.excel-button {
  background-color: #28a745; /* Green for Excel */
  margin-right: 16px;
}

.pdf-button {
  background-color: #dc3545; /* Red for PDF */
}

.excel-button:hover,
.pdf-button:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .table-search {
    width: 70%;
  }
  .table-export {
    width: 30%;
  }
}

.add-new-button {
  background-color: var(--primary-color);
  min-width: 50px;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 10px;
  transition: background-color 0.3s;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
}

.add-new-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.02);
}

.add-new-button:focus {
  outline: none;
}

.table-search-input {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 50% !important; /* Adjusted width */
  transition: border-color 0.3s ease;
}

.table-search-input:focus {
  outline: none;
  border-color: #007bff;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px; /* Adjusted font size */
  color: inherit; /* Use the inherited text color */
  padding: 0;
}

.action-button:hover {
  opacity: 0.5;
}

.view-button {
  color: #029e26;
}

.edit-button {
  color: #ffc107;
}

.delete-button {
  color: #dc3545;
}

/* Toggle button styles */
.menu-toggle-btn {
  transform: translateX(-50%);
  border: solid 3px;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-toggle-btn:hover {
  color: var(--button-hover-color);
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
}

/* Hide the toggle button below 500px */
@media (max-width: 500px) {
  .menu-toggle-btn {
    display: none;
  }
}


.custom-page-title{
  color: var(--link-active-bg-color);
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}