.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.custom-modal-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.custom-close-button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #d56c50;
}

.custom-modal-body {
  margin-bottom: 20px;
}

.custom-modal-body p {
  margin: 0;
  font-size: 1em;
}

.custom-modal-body strong {
  color: red;
}

.custom-modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.custom-delete-button,
.custom-cancel-button {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
}

.custom-delete-button {
  background-color: var(--primary-color);
}

.custom-delete-button:hover {
  opacity: 0.8;
}

.custom-cancel-button {
  background-color: #6c757d;
}

.custom-cancel-button:hover {
  opacity: 0.8;
}
